fieldset{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color:blueviolet

}
body{
    background: rgb(15, 182, 248);
}
h2{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: blueviolet;
}

